.container {
    display: flex;
    overflow-y: hidden;
    height: 90vh;
}

.non-scrollable {
    flex: 1;
    border-right: 1px solid black;
    padding-right: 3%;
}

.scrollable-content {
    max-height: 100vh;
}

.scrollable {
    flex: 2;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 100vh;
    scrollbar-width: none;
}